.wrapper {
    position: relative;
    left: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1px;
}

.clickbox {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 100%;
    width: 3000%;
}

.el {
    position: absolute;
    opacity: 1;
    width: 2px;
    height: 24vh;
    margin-top: 50vh;
    transform-origin: 50% 100%;
    background: white;
}

.left-component {
    position: relative;
    right: 20vw;
}

.right-component {
    position: relative;
    left: 50vw;
}
